body{
    margin: 0;
    background-image: url("background8.jpeg");
    /* background-size: cover;
    background-position: center; */
    box-sizing: border-box;
    font-family: sanse-serif;
    color: #BE853E;
}
*{
    padding :0;
    margin:0;
}
.menuBar{
    background-image: url("background6.jpg");
    background-size: cover;
    background-position: center; 
        text-align: center;
    position: fixed;
    z-index: 999;
    width:100%;
}

.menuBar ul{
    display:inline-flex;
    list-style: none;
    color: yellow;
    height: 100%;

}


.menuBar ul li{
    width :120px;
    margin:4px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding :5px;
    background-color: rgb(170, 27, 63, 0.8);
    border-radius: 3px;
    /* border: brown solid 3px; */
    

}


.menuBar ul li:hover{
    background-color:  rgba(204, 85, 115, 0.8);
    color:white;
    border-radius: 3px;
    
}

.menuBar ul li a{
     text-decoration: none;
    color: rgb(192, 192, 192);

    font-family: 'BN Begilophim';
     font-size: 15px;
}

.sub-menu{
    display: none;

}

.menuBar ul li:hover .sub-menu{
    display:block;
    position: absolute;
background-color:   rgb(170, 27, 63, 0.8);
color: rgb(94, 36, 64);
    
    margin-top: 15px;
    margin-left: -15px;
}
.menuBar ul li:hover .sub-menu ul{
    display: block;
    margin:10px;

}

.menuBar ul li:hover .sub-menu ul li{
    width:150px;
    padding : 10px;
    border-bottom: 1px dotted #BE853E ;
    background: transparent;
    border-radius: 0;
     text-align: center;

}

.menuBar ul li:hover .sub-menu ul li a:hover{
    color:purple;

}






  .main
{

  /* width: 1040px; */
  padding: 20px;
  /* max-width: 1500px; */
  width:80%;
  /* margin-left:10%; */
  
  margin: 0 auto;

  text-align: left;
  font: normal 400 12px 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  color: #231f20;
  /* border-left:10px solid  goldenrod;
  border-right: 10px solid  goldenrod; */
  /* border: 10px solid SaddleBrown;
  border-radius:30px; */

  /* padding-left: 10px;
  padding-right: 10px; */
  /* background-color: rgb(174, 141, 97,0.9); */
  background-color:rgb(255,216,168,0.8);
  border-left:rgb(214, 73, 73) solid 3px;
  border-right: rgb(214, 73, 73) solid 3px;



}

.sideby{
float: left;
margin-left: 200px;
margin-top: 0px;
}
img{
    border:brown solid 3px ;
    margin-bottom: 50px;
    margin-top: 0px;

}
iframe{
    border:brown solid 3px ;
}
.linkToBagdad{
    display: inline-block;
    position: relative;
     color: Sienna; font-weight: 400;
       margin-left: 10%; margin-right: 10%;  text-align: center;


    text-align: right;
    font-size: 40px;
    font-family: 'BN Begilophim';
    text-decoration: none;
    color: rgb(94, 36, 64);
    margin-right: 100px;
    margin-bottom: 0;
    border:black double 6px;
    padding: 10px;

}

.linkToBagdad:hover{
  
    text-decoration: none;
    color: chocolate;
    background-color: darkgray;
   

}



.picdiv{
    width: 80%;
    height:400px;
    /* position: absolute; */
    /* left:50%; */
    /* top:50%; */
    /* transform: translate(-50%, 50%); */
    background-color: burlywood;
    /* background-size: 100% 100%; */
    box-shadow: 1px 2px 10px 5px white ;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
     background-size: 80% 100%; 
     background-image: url("bagdad.jpg");
     background-size:100% 100%;
     background-position: center center;
     margin-left: 10%;
     animation:slider 30s infinite ;

    /* background-position-x: auto;
    background-position-y: auto; */
    /* position: relative; */
    /* overflow: hidden; */
    /* width: -webkit-fill-available; */
  
  }
  
  .fblike{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  
  @keyframes slider{
     0%{background-image: url("bagdad.jpg");background-size:100% 100%;background-color: black;}
      20%{background-image: url("bagdad2.jpg");background-size:100% 100%;background-color: black;}
      40%{background-image: url("bagdad3.jpg");background-size:100% 100%;background-color: black;}
      60%{background-image: url("bagdad4.jpg");background-size:100% 100%;background-color: black;}
      80%{background-image: url("bagdad7.jpg"); background-size: 100% 100%; background-color: black; }
    100%{background-image: url("bagdad6.jpg");background-size: 100% 100%;background-color: black;}
    
  
  }
  
  .div1{
    width: 57%;
    height:400px;
    display: inline-block;
    /* background-color: red; */
    float: left;
    /* margin: 5px; */
    /* margin-top: 50px; */
   
  
  
  }
  .div2{
    width:30%;
    height:400px;
    display: inline-block;
    /* background-color: chartreuse; */
    float: left;
    /* margin: 30px; */
    /* margin-top: 50px; */
    
  
  }
  
  .middlediv{
    width:100%;
    height:700;
    margin-top: 500px;
  
    /* padding:10px */
  
    /* display: inline-block; */
    /* padding: 10px; */
    /* background-color: chartreuse; */
    
  }
    .mido{
    width:100%;
    height:700;
    margin-bottom: 400px;
     margin-top: 50px;
    /* padding:100px */
  
    /* display: inline-block; */
    /* padding: 10px; */
    /* background-color: chartreuse; */
    
  }
  
  .story{
      text-align: right;
      font-size: 20px;
      font-family: "BN Madregot";
  }
  .today{
      margin-top: 100px;;
  }

  .storytoday{
    padding: 30px;
    border-top: chocolate dotted 3px;
    border-bottom: chocolate dotted 3px;
  /* margin-top: 600px; */
    width:70%;
    margin-left: 15%;
    position: static;
}
  .storydiv{
      padding: 30px;
      border-top: chocolate dotted 3px;
      border-bottom: chocolate dotted 3px;
    margin-top: 600px;
      width:70%;
      margin-left: 15%;
      position: static;
      }
  .playdiv{
    width:100%;
    height:700;
    margin-top: 1000px;
  
    /* padding:10px */
  
    /* display: inline-block; */
    /* padding: 10px; */
    /* background-color: chartreuse; */
    
  }
  .facebook{
    margin: 30px;
    /* padding: 80px; */
  margin-right: 10%;
    position: relative;
    /* border: 10px solid black; */
    box-shadow: 1px 2px 10px 5px white ;
  width:340px;
  border-radius: 7px;
    /* border-radius: 30px; */
  }
  
  div{
    text-align: center;
  }
  
  
  p{ color: rgb(124, 101, 73);      font-family: "BN Madregot";
     font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }
  span{
    color: #880712; text-decoration: none; font-size: 25px;
  
  }
  
  
  .left { text-align: right; line-height: 27px;       font-family: "BN Madregot"
    ;font-size: 20px; float: left; margin-left: 5% ;margin-right:1%; width:42%; }
  
  
  .right {text-align: right; line-height: 27px;padding-left: 20px; border-left:5px solid #BA9566    ;      font-family: "BN Madregot"
    ;font-size: 20px; float: right;margin-right: 5%; width:42%; }
  
  .text{
    width: 800;
    height: 300px;
    text-align: left;
    margin-top: 40px;
    /* margin-bottom: 300px; */
    /* text-align: center;
    align-items: center; */
  }
  .headline{
    text-align: right;
       font-family: 'BN Begilophim';
     font-size: 30px;
    margin-right: 10%;
    margin-bottom: 7px;
    font-size: 50px;
  }
  
  .followHeadLine{
    text-align: center;
    font-family:cursive; font-size: 30px;
    margin-left: 30%;
    margin-bottom: 0;
    line-height: 25px;
    border-bottom:4px solid chocolate;
  }
  h2{
    color: #BE853E;
    text-align: right;
    font-family: 'BN Begilophim';

  
  
  }
  
  
    h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 40%;
    height: 5px;
    content: '';
    background-color: rgba(231, 90, 90, 0.822);
    }
    h1:before {
    margin-left: -40%;
    text-align: right;
    }

  
    h1 {   display: inline-block;font-size: 60px;    font-family: 'BN Begilophim';
    margin-bottom: 60px;
        position: relative;
        width:80%;
         color: #8B0000	;
          font-weight: 400;
          /* font-style: italic;  */
           margin-left: 10%; margin-right: 10%;  text-align: center;
        margin-top: 10px; }
  
        label{
            /* font-family: 'BN Begilophim'; */
            color: rgb(124, 101, 73);      font-family: "BN Madregot";
             font-size:20px;
            
        }
  
        .button {
            background-color: #B3711D;
            font-size: 20px;
            padding: 10px 24px;
            border-radius: 2px;
            border: 2px solid rgb(126, 77, 13)
            ; /* Green */
            transition-duration: 0.4s;
            border-radius: 5px;
            font-family: cursive;
            color: cornsilk;
  
  
          }
          .button:hover {
            background-color: #CA924C;
            color: brown;
  
            ; /* Green */
          }
  
          .addButton{
            background-color: #B3711D;
            font-size: 15px;
          
            font-family: cursive;
            padding: 10px 24px;
            border-radius: 2px;
            border: 2px solid rgb(126, 77, 13)
            ; /* Green */
            transition-duration: 0.4s;
            color: white;
            border-radius: 5px;
            
          }
          .addButton:hover {
            background-color: #CA924C;
            color: white;
            color: brown;
  
            ; /* Green */
          }
  
          #Message{
              border: 5px solid rgb(138, 72, 25);;
              border-radius: 7px;
          }
          .que{
            width: 60%;
            height: 500px;
            border: 5px solid white;
            border-radius: 10px;
          }
  
          input[type=radio ] {
            border:2px solid brown;
            width:50px;
            height: 2em;
  
  
  
        }
  
        .youtube{
          box-shadow: 1px 2px 10px 5px chocolate ;
          border-radius: 10px;
        }
  
        .qrCode{
          border:2px solid chocolate;
        }
  
        .Subject{
          border: 2px solid rgb(138, 72, 25);
          height: 22px;
          width: 150px;
          border-radius: 5px;
        }
  
  
        .wrapper {
          display: flex;
          width: 100%;
          margin-right: 100px;
      }
      
      .sidebar {
          /* width: 100px; */
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          z-index: 999;
          background:rgb(231, 198, 173);
           /* rgb(131, 83, 28); */
          color: #fff;
          transition: all 0.3s;
          align-items: center;
          margin-left: 0;
          width: 9%;
          max-width: 100px;
          border-left: 2px solid chocolate;
          border-right: 2px solid chocolate;
          
          background-image: url("backback.jpg");
          
  
         
  
        
  
      }
  
      .side
      {
        margin-left: 0;
        float: left;
        font-family: cursive;
        font-size: 100%;
        border: 2px solid bisque;
        background-color:rgb(185, 126, 66);
        width: 80%;
        height: 60px;
        margin:0 0 0 0;
        text-align: left;
        /* border-radius: 20px; */
        /* padding: 2px; */
        max-width: 100px;
        max-height: 6%;
        padding: 0;
        margin-top: 2px;
  
      }
  
      .sideHead{
        font-size:15px;
        max-width: 100%;
        font-family: cursive;
        color: rgb(185, 126, 66);
        margin:0 0 0 0;
     
      }
  
      .dogimg{
        margin-top: 300px;
        height:20%;
        width: 100%;
      }
  
     
  
